Hello,

A security issue with your package {{application_slug}} {{application_version}} has been reported.

However please read this entire email and take appropriate action promptly.

Vulnerability Report can be found attached to this email.

Normally we feel it would be putting users at risk if we allowed them to download code that could be exploited, and once an exploit is reported, it is often acted upon by persons nefarious. In this instance we have decided not to do so. We feel the danger of FUD (fear, uncertainty, and doubt) as well as the potential for putting more users in danger by closing your package outweighs our normal concerns.

Please review the exploit report carefully. If you believe the report is NOT valid, and that your package is secure, please contact the security team of your project. If the vulnerability is XSS or CSRF related, know that  Chrome actually prevents those from working in their browser and you'll  need to check in Firefox.

That said, PLEASE read this report carefully.

If you find this report to be valid, you must close the exploit and update your package in the directory in order to protect your users. Bump the version number. Disclose the security fix, though not the precise details. Should you, for any reason, find you are unable to update the package, please let us know promptly so we can help decide on the action to take to best look after the package users.

If you have any questions or need any advice, do get in touch.

Thank you
